.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;

    left: 0;
    width: 90%;
    /*height: 90%*/
}
.row {
margin-left: auto;
margin-right: auto;
}

.control-row {
margin-bottom: 10px;
}
